In [1]:
import pandas as pd

In [2]:
seed0 = pd.read_csv('sub_lightgbm_seed0.csv')
rf = pd.read_csv('sub_lightgbm.csv')

In [6]:
for i in range(193199):
    ave = (seed0.iloc[i,1] + rf.iloc[i,1]) / 2
    seed0.iloc[i,1] = ave

In [7]:
seed0

           8761  13.323099393334953
0          8762           13.411476
1          8763           13.411476
2          8764           13.411476
3          8765           13.411476
4          8766           13.411476
...         ...                 ...
193194  1226347            7.132028
193195  1226348            7.149216
193196  1226349            7.158182
193197  1226350            7.171670
193198  1226351            7.171670

[193199 rows x 2 columns]

In [ ]:
seed0.to_csv('sub_lightgbm_ensamble.csv', index=False)